[user]
  name = Christian Arty
  email = 40256027+christianarty@users.noreply.github.com
  signingkey = 64077F495076E76A
[core]
  editor = vim
  excludesfile = ~/.gitignore
  autocrlf = input
[pull]
  rebase = true
[init]
  defaultBranch = main
[credential]
  helper = osxkeychain
[fetch]
  prune = true
[diff]
  colorMoved = zebra
[commit]
  gpgsign = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
